body {
    font-family: "Roboto", "Hero", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    background-color: #1f2937;
    flex: 0;
}

.logo {
    color: #f9faf8;
    margin: 16px;
    font-weight: 500;
    margin-left: 200px;
}

.links {
    display: flex;
    flex-direction: row;
}
.links > ul {
    list-style-type: none;
    margin-right: 200px;
    padding: 0;
    display: flex;
    gap: 30px;
}
.links > ul a {
    color: #f9faf8;
}
a {
    text-decoration: none;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sign-up {
    background-color: #1f2937;
    min-height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    flex: 1;
}

.details {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: 200px;
}

.details #website {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.25;
    margin-bottom: 4px;
}

.details #subtext {
    margin-bottom: 5px;
}

a.button {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 4px;
    margin: 8px 0px;
    width: 100px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.sign-up .images {
    display: flex;
    justify-content: right;
    gap: 50px;
    margin-right: 200px;
}

.sign-up img {
    height: 200px;
    border-radius: 8px;
}

.information {
    min-height: 350px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information.text {
    min-height: auto;
    font-size: 36px;
    font-weight: 700;
    align-self: center;
    margin-top: 25px;
}

.information.images {
    min-height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 50px;
    
}
.information .image-set img {
    border: 3px solid #3882f6;
    border-radius: 8px;
    max-height: 150px;
}
.image-set.description {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
}

.call {
    color: #e5e7eb;
}

.footer {
    color: #f9faf8;
}